*{
    font-family: Arial, Helvetica, sans-serif;
}

.name-header{
    text-align: center;
}

.horizontal-line{
    border: 2px solid black;
    width: 75%;
}

.icons{
    height: 100px;
    width: 100px;
}